<apex:page standardController="contact" sidebar="false">
  <apex:form >
  <apex:pageBlock title="contacts for mounica" >
  <apex:pageBlockSection title="Information" columns="1">
  <apex:inputField value="{!contact.firstname}"/>
  <apex:inputField value="{!contact.lastname}"/>
  <apex:inputField value="{!contact.phone}"/>
  <apex:inputField value="{!contact.email}"/>
 
  </apex:pageBlockSection>
  <apex:pageBlockSection title="contact Information" columns="1">
  <apex:inputField value="{!contact.homephone}"/>
  <apex:inputField value="{!contact.fax}"/>
  <apex:inputField value="{!contact.mobilephone}"/>
  
  </apex:pageBlockSection>
 
  
  <apex:pageBlockButtons >
   <apex:commandButton value="save" action="{!save}"/>
   <apex:commandButton value="cancel" action="{!cancel}"/>
   </apex:pageBlockButtons> 
  </apex:pageBlock>
  
  
  </apex:form>
</apex:page>