<apex:page standardController="Account" extensions="selectPicklist">
   <apex:form >
      <apex:pageBlock title="Page Details">
        <apex:pageBlockSection >
         <apex:selectlist label="year of passing" value="{!yearValue}" size="1" multiselect="false">
            <apex:actionsupport event="onchange" action="{!picklist}"/>
            <apex:actionStatus starttext="Applying value......">
            </apex:actionStatus>
            <apex:selectOptions value="{!Yearlist}"/>
         </apex:selectlist>
         </apex:pageBlockSection>
      </apex:pageBlock>
      
      
     <apex:outputPanel rendered="{!yearValue1}">
      <apex:pageBlock title=" 2010 Account Details">
        <apex:pageBlockSection >
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Account Name">
            </apex:outputLabel>
            <apex:inputField value="{!account.Name}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Account Rating"> 
            </apex:outputLabel>
             <apex:inputField value="{!account.Rating}"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
      </apex:pageBlock>
          </apex:outputPanel> 
      
      <apex:outputPanel rendered="{!yearValue2}">
      <apex:pageBlock title=" 2011 Account Details">
        <apex:pageBlockSection >
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Account Phone">
            </apex:outputLabel>
            <apex:inputField value="{!account.Phone}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Account Industry"> 
            </apex:outputLabel>
             <apex:inputField value="{!account.Industry}"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
      </apex:pageBlock>
          </apex:outputPanel> 
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
   </apex:form>
</apex:page>