<apex:page standardController="Account" sidebar="true">
  <apex:form >
    <apex:pageBlock title="Demo for Mounica"  >
      <apex:pageBlockSection title="Account Details Section"  columns="1">
        <apex:inputField value="{!account.Name}"/>
        <apex:inputField value="{!account.Rating}"/>
        <apex:inputField value="{!account.Phone}"/>
      <Apex:commandButton value="save" action="{!save}"/>
      
      
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>